.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

  .wrap {
    position: relative;
    height: 100%;
    max-width: 1450px;
    margin: 0 auto;

    .logo {
      width: 13.0rem;
      position: absolute;
      top: 50%; left: 10px;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      transform: translateY(-50%);

      img {
        display: block;
        width: 100%;
        margin: 0;
      }
    }

  }

}