html {
  font-size: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.App {
  height: 100%;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a, a:hover {
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.main {
  width: 100%;
  height: calc(100% - 6.5rem);
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}